body{
	background: #fbf9fe;
}
header{
	position: fixed;
	top: 0;
	padding: 3px 0;
	width: 100%;
	height: 44px;
	box-sizing: border-box;
	background: #f7f7fa;
	z-index: 999;
}
.header-left{
	position: absolute;
	left: 14px;
	top: 14px;
	display: block;
	font-size: 14px;
	line-height: 21px;
	color: #888;
}
.header-back{
	float: left;
	margin-left: 5px;
	padding-left: 12px;
	color: #888;
}
.header-back:before{
	content: "";
	position: absolute;
	display: block;
	top: 2px;
	left: 0;
	width: 12px;
	height: 12px;
	border: 1px solid #888;
	border-width: 1px 0 0 1px;
	margin-left: 3px;
	margin-top: 1px;
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
}
.title{
	font-size: 14px;
	text-align: center;
	line-height: 44px;
	color: #888;
	font-weight: lighter;
}
.hobby-bd{
	margin-top: 50px;
	margin-bottom: 44px;
	position: relative;
	overflow-x: hidden;
}
.weui_cells_form .weui_cell_ft{
	font-size: 14px;
}
.bottom{
	display: block;;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 44px;
	background: #04BE02;
	line-height: 44px;
}
.bottom-button{
	display:block;
	float: left;
	width: 48%;
	background: #04BE02;
	text-align: center;
}
.bottom-button:before{
	content: ' ';
	height: 44px;
	width: 1px;
	background: #fff;
	position: absolute;
	left: 50%;
}
.bottom-button img{
	width: 16px;
	vertical-align: middle;
}
.bottom-button span{
	color: #fff;
	font-size: 16px;
	vertical-align: middle;
}